# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env
.venv
venv/

# FastAPI / logs
*.log

# Docker
.env.docker

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/

# Just in case
node_modules/
